{% extends 'base.html.twig' %}

{% block title 'Ma super agence' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae assumenda nesciunt, saepe ut laboriosam totam doloribus id porro, nobis blanditiis vero quae inventore voluptates non exercitationem consequuntur earum nam tempore?</p>
    </div>

    <div class="container">
        <h2>
            Les derniers biens
        </h2>
    <div class="row flex">
            {% for property in properties %}
        <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{path('property.show',{id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                        </h5>
                        <p class="card-text">{{ property.city }}
                            ({{property.postalCode}})</p>
                        <div class="text-primary" style="font-weight: bold;font-size:2rem;">{{ property.formattedPrice }} €</div>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>


    {# <div class="img-home">
        <img src="{{ asset('img/img1.jpeg') }}"/>
    </div> #}
{% endblock %}
